<div>
  <label>
    Total:
    <input type="number" min="0" [(ngModel)]="_total" (ngModelChange)="generateContributorsList(_numContributors)" placeholder="0">
<div>
  <label>
    # Contributors:
    <input type="number" min="1" [(ngModel)]="_numContributors" (ngModelChange)="generateContributorsList(_numContributors)" placeholder="0">
  </label>
  <ul class="split">
    <li *ngFor="let contrib of _contributors"
        [class.selected]="_curSelectedContributor === contrib.id"
        (click)="_curSelectedContributor = contrib.id">
      <span class="badge">{{contrib.id}}</span> {{contrib.name}}
    </li>
  </ul>
</div>

